.BlockTexts {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.BlockTexts__background {
  position: absolute;
  background: #F6F0E8;
  top: 15%;
  bottom: 15%;
  left: 0;
  right: 15%;
  z-index: -1;
}

.BlockTexts__block {
  margin-left: 5%;
  margin-top: 16px;
  width: 90%;
}
