.Home {
	width: 100vw;
	height: 100vh;
	text-align: left;
	font-family: 'PT Serif', serif;
}

.Home-title {
	position: absolute;
	margin: 5%;
	opacity: 0;
  	transition: 2s;
  	z-index: 5;
}

.Home-visual {
	position: relative;
	top: 178px;
}

.Home-video-container {
	width: 75vw;
	height: 65vh;
	position: relative;
}

.Home-video {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.Home-video-overlay {
	background: black;
	opacity: 0.3;
}

.Home-info {
	position: absolute;
	font-size: 20px;
	bottom: 20px;
	margin-left: 5%;
	color: white;
	opacity: 0;
  	transition: 2s;
}

.fade-in {
	opacity: 1;
}
