.RecruitmentBlock {
  display: flex;
  flex-direction: column;
}

.RecruitmentBlock__icon {
  width: 100%;
}

.RecruitmentBlock__open {
  opacity: 0.75;
}

.RecruitmentBlock__title {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.RecruitmentBlock__normal {
  font-weight: normal;
}

.RecruitmentBlock__date {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  width: 100%;
  opacity: 0.5;
}

.RecruitmentBlock__location {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-size: 10px;
  text-align: center;
  width: 100%;
  opacity: 0.5;
}
