.Services {
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	padding: 5%;
}

.Services-title {
	font-family: 'PT Serif', serif;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 20px;
}

.Services-body ol {
	padding: 0;
	font-family: 'PT Serif', serif;
	font-size: 24px;
	font-weight: 700;
	margin-left: 25px;
}

.Services-body li {
	padding-top: 20px;
  padding-bottom: 20px;
}

.Services-buttongroup {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	width: 60%;
}

.Services-buttongroup button {
	background-color: #fff;
	border: 1px solid black;
	border-radius: 12px;
  padding: 14px 30px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  margin-right: 20px;
  margin-top: 10px;
  color: black;
}

.Services-buttongroup button:hover, .Services-buttongroup button:focus {
  background-color: #810606;
  color: white;
  border: 1px solid #810606;
  transition: 0.3s;
  cursor: pointer;
}

.Services-buttongroup .active button {
	background-color: #810606;
  color: white;
  border: 1px solid #810606;
}

.Services-actionbutton {
	background-color: #810606;
	border: 1px solid #810606;
	color: white;
	border-radius: 12px;
  padding: 14px 30px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  margin-right: 20px;
  margin-left: 25px;
  margin-top: 20px;
}

.Services-actionbutton2 {
	background-color: #810606;
	border: 1px solid #810606;
	color: white;
	border-radius: 12px;
  padding: 14px 30px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  margin-right: 20px;
  margin-top: 60px;
}

button:hover {
	cursor: pointer;
}

.Services-resulttitle {
	font-family: 'PT Serif', serif;
	font-size: 24px;
	font-weight: 700;
	margin-top: 50px;
}

.Services-solutiongroup {
	display: flex;
	flex-wrap: wrap;
}

.Services-solution {
	border: 1px solid #d3d3d3;
	border-radius: 12px;
	padding: 20px;
	margin-right: 20px;
	margin-top: 40px;
	width: 18%;
}

.Services-solutiontitle {
	font-family: 'PT Serif', serif;
	font-size: 24px;
	font-weight: 700;
}